<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Flask-Basic-Registration</h1>
  <h3>Please login.</h3>
    <br/>
    <form method="post" action="">
      <p>{{ form.name.label }}&nbsp;{{ form.name }}&nbsp;{{ form.password.label }}&nbsp;{{ form.password }}<br/><br/><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
    <p><em>Need an account? </em><a href="/register">Signup!!</a></p>
{% endblock %}